@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'primaryFont';
  src: url('./assets/fonts/ModernAge.ttf'),
 
}

@font-face {
  font-family: 'secFont1';
  src: url('./assets/fonts/OfficialBook.ttf')
}

@font-face {
  font-family: "secFont1";
  src: url('./assets/fonts/Poppins-Regular.ttf')
}

.swiper-slide img {
  transition: transform 0.3s ease-in-out;
}

.swiper-slide-active img {
  transform: scale(1.2);
}
