@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ModernAge';
  src: url('@/assets/Fonts/ModernAge.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OfficialBook';
  src: url('@/assets/Fonts/OfficialBook.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('@/assets/Fonts/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}